html {
    overflow-x: hidden;
}

.addinfo {
    .container {
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 5px;
        background: white;
        width: 560px;
        max-width: 100%;
        .row {
            .form {
                text-align: center;
                .input_form {
                    padding: 5px;
                    width: 80%;
                    border: 1px solid #a6bcd2;
                    border-radius: 4px 4px 4px;
                    -webkit-border-radius: 4px 4px 4px;
                    -moz-border-radius: 4px 4px 4px;
                    -p-border-radius: 4px 4px 4px;
                    -ms-border-radius: 4px 4px 4px;
                    height: 30px;
                }
                .input_year_form {
                    padding: 5px;
                    width:70px;
                    border: 1px solid #a6bcd2;
                    border-radius: 4px 4px 4px;
                    -webkit-border-radius: 4px 4px 4px;
                    -moz-border-radius: 4px 4px 4px;
                    -p-border-radius: 4px 4px 4px;
                    -ms-border-radius: 4px 4px 4px;
                    height: 30px;
                }
                .avatar {
                    max-width: 100%;
                    width: 200px;
                    display: inline-block;
                    color: #e7f0fa;
                    font-size: 1.3em;
                    cursor: pointer;
                    img {
                        max-width: 100%;
                    }
                     }
                .main_information {
                    margin-top: 20px;
                }
                p.label {
                    float: left;
                    width: 100%;
                    margin-top: 20px;
                    color:#70aae3;
                    font-weight: 600;
                    font-size: 16px;
                }
                .ready {
                    width: 100%;
                    height: 35px;
                    border: 1px solid White;
                    border-radius: 6px 6px 6px;
                    -webkit-border-radius: 6px 6px 6px;
                    -moz-border-radius: 6px 7px 6px;
                    -p-border-radius: 6px 6px 6px;
                    -ms-border-radius: 6px 6px 6px;
                    background: -webkit-linear-gradient(top, rgb(41, 106, 195) 0%, rgb(10, 103, 193) 100%);
                    background: -o-linear-gradient(top, rgb(41, 106, 195) 0%, rgb(10, 103, 193) 100%);
                    background: -ms-linear-gradient(top, rgb(41, 106, 195) 0%, rgb(10, 103, 193) 100%);
                    background: -moz-linear-gradient(top, rgb(41, 106, 195) 0%, rgb(10, 103, 193) 100%);
                    background: linear-gradient(to bottom, rgb(41, 106, 195) 0%, rgb(10, 103, 193) 100%);
                    color: White;
                    cursor: pointer;
                    margin-top: 5%;
                    margin-right: 15%;
                    margin-bottom: 16px;
                }
                .btn-default {

                    width: 100%;
                    height: 35px;
                    border: 1px solid White;
                    border-radius: 6px 6px 6px;
                    -webkit-border-radius: 6px 6px 6px;
                    -moz-border-radius: 6px 7px 6px;
                    -p-border-radius: 6px 6px 6px;
                    -ms-border-radius: 6px 6px 6px;
                    background: #d0dae2;
                    color: White;
                    cursor: pointer;
                    margin-top: 5%;
                    margin-right: 15%;
                    margin-bottom: 16px;
                }
            }
        }
        
    }
    
}


