body {
    // background-image: url('/img/bg.jpg');
    background-color: rgba(255,255,255,0.8);
    background-size: cover;
}
.header-user-name {
    margin-right: 5px;
    margin-left: 5px;
}

.user-li {
    display: block;
    width: 100%;
}