.aside-panel {
    position: fixed;
    top: 0;
    right: 0;
    width: 500px;
    height: 100%;
    max-width: 100%;
    background: #fff;
    z-index: 5000;
    padding: 20px;
    label {
        font-weight: 600;
        ::after {
            content: ":"
        }
    }
}

