<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title><%= user.displayName %></title>
	<meta name="description" content="Описание страницы">
	<meta name="keywords" content="Ключевые, слова, через, запятую">
	<link rel="icon" href="#" type="#">
	<link rel="shortcut icon" href="#" type="#">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta property="og:title" content="<%= user.displayName %>">
	<meta property="og:description" content="Описание страницы">
	<meta property="og:type" content="article">
	<meta property="og:image" content="#">
	<meta property="og:site_name" content="SVYAZI">
	
	<link rel="stylesheet" href="css/fonts.css">
	<link rel="stylesheet" href="css/bootstrap-reboot.min.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/slick.css"/>
  	<link rel="stylesheet" href="css/slick-theme.css"/>
	<link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/media.css">
    <link rel="stylesheet" href="css/addinfo.css">
    <link rel="stylesheet" href="css/jmain.css">
    <link rel="stylesheet" href="css/testaddinfo.css">
    <script src="/js/vue.js"></script>
    
</head>

<%- include('./header.ejs') %>
<body>
    <section class="addinfo" id="app">
        <div class="container">
            <div class="row">
            <div class="form first-step">                    
            <img src="img/logo_svyazi_small.jpg" alt="">
            <p><%= stage %></p>
            <% if (stage == 0) { %>
                <form action="/addinfo?stage=0" method="post">
                    <h3>Осталось совсем немного!</h3>
                    <h4>Заполните данные о себе</h4>
                    <h5>Основная информация:</h5>
                    <div class="avatar"><img  :src=avatarLink></div>
                    <input type="file" name="photofile" id="photofile" @change="uploadImage">
                        <div class="main_information row" style="display: block; text-align: center">
                            <div class="col-md-12">
                            <p class="label" style="">Пол*</p>
                            <select name="sex" id="" style="">
                                <option disabled>Выберите пол</option>
                                <option value="1">Мужчина</option>
                                <option value="2">Женщина</option>
                            </select><br>

                            <p class="label" style="">Статус*</p>
                            <select name="status" id="" style="">
                                <option value="">выберите статус</option>
                                <option value="0">Занят</option>
                                <option value="1">Ищу работу</option>
                            </select><br>

                            <p class="label" style="">Дата рождения*</p>
                            <select name="bday" id="" style="">
                                <option value="" type="Number">число</option>
                                <% for(var i=1; i<=31;i++) {%>
                                <option value="<%=i%>"><%=i%></option>
                                <%}%>
                            </select>
                            <select name="bmonth" id="" style="">
                                <option value="" type="Number">месяц</option>
                                <% for(var i=1; i<=12;i++) {%>
                                <option value="<%=i%>"><%=i%></option>
                                <%}%>
                            </select>
                            <input type="Number" name="byear" class="input_year_form"><br>

                            <p class="label" style="">Место проживания*</p>
                            <select name="country" id="" style="">
                                <option disabled>Выберите страну</option>
                                <option value="0">Россия</option>
                                <option value="1">Украина</option>
                            </select>
                            <select name="city" id="" style="">
                                <option disabled>Выберите город</option>
                            </select>

                        </div>




                        <div class="col-md-12" style="max-width: 800px; display: inline-block">
                            <p class="label" style="">Должность*</p>
                            <input type="text" name="mainProf" class="input_form">

                            <p class="label">Место работы</p>
                            <input type="text" class="input_form">

                            <p class="label" style="">Адрес места работ</p>
                            <input type="text" class="input_form">
                        </div>
                            

                            
                        </div>
                        <div class="row">
                        <div class="col">
                        <p class="label"><button type="submit" class="ready">Далее</button></p>
                        </div>
                        </div>
                        <div class="row">
                        <div class="col">
                        </div>
                        <div class="col">
                        <form action="/addinfo?stage=1" method="post"><p class="label"><button class="btn-default">Пропустить шаг</button></p></form>
                        </div>
                        <div class="col">
                        <form action="/addinfo?stage=6"  method="post"><p class="label"><button class="btn-default">Пропустить все</button></p></form>
                        </div>
                        </div>
    
                    </div>
                    </div>
                </form>
            <% } %>
            <% if (stage == 1) { %>
                <%= stage %>
            <% } %>
            
            
                </div>
            </div>
        </div>
    </section>

    <script>

        var vm = new Vue({
            el: "#app",
            data: {
                avatarLink: 'img/avatar.png'
            },
            methods: {
                uploadImage: (event) => {
                    var inpImg = event.target;
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        vm.avatarLink = e.target.result
                    };

                    reader.readAsDataURL(inpImg.files[0])
                }
            }
        })
    </script>

    <%- include('./footer.ejs') %>
	<script src="js/jquery-3.3.1.min.js"></script>
	<script src="js/slick.min.js"></script>
    <script src="js/sticky-kit.min.js"></script>
    <!--
	<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.js"></script>
    <script src="js/main.js"></script>
    /-->
</body>
</html>