<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<title>SVYAZI</title>
	<meta name="description" content="Описание страницы">
	<meta name="keywords" content="Ключевые, слова, через, запятую">
	<link rel="icon" href="#" type="#">
	<link rel="shortcut icon" href="#" type="#">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta property="og:title" content="SVYAZI">
	<meta property="og:description" content="Описание страницы">
	<meta property="og:type" content="article">
	<meta property="og:image" content="#">
	<meta property="og:site_name" content="SVYAZI">
	
	<link rel="stylesheet" href="css/fonts.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css">
	<link rel="stylesheet" href="css/bootstrap-reboot.min.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/slick.css"/>
  	<link rel="stylesheet" href="css/slick-theme.css"/>
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/media.css">
</head>
<body>
	<header class="header-cab">
		<div class="header-cab__line">
			<div class="header-cab__top line">
				<div class="container">
					<div class="row justify-content-between">
						<div class="header-cab__entry d-flex align-items-center col-auto">
							<img src="img/user.png" alt="Фото">
							<p class="header-cab__name">Имя</p>
							<p class="header-cab__surname">Фамилия</p>
							<a href="#" class="header-cab__open">
								<img src="img/arow_down.png" alt="Cтрелка"/>
							</a>
						</div>
						<div class="header-cab__menu col-auto">
							<nav>
								<ul class="header-cab__list d-flex">
									<li class="header-cab__item">
										<img src="img/searching.png" alt="Поиск"/>
										<a href="#">Поиск</a>
									</li>
									<li class="header-cab__item">
										<img src="img/speaking.png" alt="Связи"/>
										<a href="#">Связи</a>
									</li>
									<li class="header-cab__item">
										<img src="img/chat.png" alt="Сообщения"/>
										<a href="#">Сообщения</a>
									</li>
									<li class="header-cab__item">
										<img src="img/bell.png" alt="Уведомления"/>
										<a href="#">Уведомления</a>
									</li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
			<div class="header-cab__bottom">
				<div class="container">
					<div class="row">
						<div class="header-cab__logo col-12 col-sm-auto d-flex align-items-center justify-content-center justify-content-md-start">
							<img src="img/logo_svyazi.png" alt="SVYAZI">
						</div>
						<div class="header-cab__user col-auto">
							<p class="header-cab__profession">coder</p>
							<h1 class="header-cab__nickname">
								<span class="header-cab__nickname-name">Имя</span>
								<span class="header-cab__nickname-surname">Фамилия</span>
							</h1>
							<p class="header-cab__info"><span>30 лет</span> Россия, Тула</p>
						</div>	
						<div class="header-cab__experience d-flex flex-column justify-content-end col-auto ml-auto">
							<img class="header-cab__stars" src="img/stars.png" alt="Звезды"/>
							<div class="header-cab__wrap d-flex justify-content-center">
								<div class="header-cab__connection d-flex">
									<img src="img/connection.png" alt="Комуникация"/>
									<p>10</p>
								</div>
								<div class="header-cab__up d-flex">
									<img src="img/Thumbs_up.png" alt="Палец вверх"/>
									<p>5</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<section class="basic">
		<div class="container">
			<div class="row">
				<div class="block">
					<div class="profile box ml-lg-auto col-auto col-lg-9">
						<img class="profile__ava" src="img/avatar.png"/>
						<div class="profile__inner gray-btm d-sm-flex">
							<h3 class="profile__profession">Coder</h3>
							<p class="profile__line d-none d-sm-block">&#8212;</p>
							<div class="profile__box">
								<p class="profile__job">Blizzard Entertainment</p>
								<p class="profile__address">г. Тула, ул. Лесная, 5</p>
							</div>
						</div>
						<div class="profile__contact">
							<h2 class="profile__title">Контакты</h2>
							<ul class="profile__list">
								<li class="profile__item d-flex justify-content-between">
									<p>Телефон</p>
									<a href="#">+79814646158</a>
								</li>
								<li class="profile__item d-flex justify-content-between">
									<p>Электронная почта</p>
									<a href="#"><%= user.email %></a>
								</li>
								<li class="profile__item d-flex justify-content-between">
									<p>Социальная сеть</p>
									<a href="#">vk.com/petrov</a>
								</li>
							</ul>
						</div>
						<div class="profile__links gray-top d-flex justify-content-around justify-content-sm-start">
							<a href="guest.html" class="profile__link align-items-center">Редактировать</a>
							<a href="#" class="profile__link">Настройки</a>
						</div>
					</div>
					<div class="content d-flex">
						<div class="sidebar__left col-auto">
							<div class="sidebar__navigation">
								<h2 class="sidebar__title gray-btm">Навигатор</h2>
								<ul class="sidebar__menu align-items-center">
									<li>
										<a class="active" href="#experience">Опыт работы</a>
									</li>
									<li>
										<a href="#education">Образование</a>
									</li>
									<li>
										<a href="#skill">Навыки</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="wrap col-auto">
							<div id="experience" class="experience box">
								<h2 class="title gray-btm">Опыт работы</h2>
								<div class="experience__wrap ml-auto">
									<div class="cnt">
										<div class="experience__container d-flex justify-content-between">
											<div class="experience__project d-flex">
												<div class="experience__txt">
													<p class="experience__creator">Разработчик проекта</p>
													<p class="experience__place">Тенерифы, Испания</p>
												</div>
												<p class="experience__line">&#8212;</p>
												<p class="experience__name">VYM Canarias</p>
											</div>
											<div class="experience__time">
												<p class="experience__year">2 года 7 месяцев</p>
												<p class="experience__month">Май 2003 – Декабрь 2005</p>
												<a href="#" class="experience__more ml-auto">Подробнее</a>
											</div>
										</div>
										<div class="experience__container gray-top d-flex justify-content-between">
											<div class="experience__project d-flex">
												<div class="experience__txt">
													<p class="experience__creator">Разработчик проекта</p>
													<p class="experience__place">Тенерифы, Испания</p>
												</div>
												<p class="experience__line">&#8212;</p>
												<p class="experience__name">VYM Canarias</p>
											</div>
											<div class="experience__time">
												<p class="experience__year">2 года 7 месяцев</p>
												<p class="experience__month">Май 2003 – Декабрь 2005</p>
												<a href="#" class="experience__more ml-auto">Подробнее</a>
											</div>
										</div>
										<div class="experience__container gray-top d-flex justify-content-between">
											<div class="experience__project d-flex">
												<div class="experience__txt">
													<p class="experience__creator">Разработчик проекта</p>
													<p class="experience__place">Тенерифы, Испания</p>
												</div>
												<p class="experience__line">&#8212;</p>
												<p class="experience__name">VYM Canarias</p>
											</div>
											<div class="experience__time">
												<p class="experience__year">2 года 7 месяцев</p>
												<p class="experience__month">Май 2003 – Декабрь 2005</p>
												<a href="#" class="experience__more ml-auto">Подробнее</a>
											</div>
										</div>
									</div>
									<div class="cnt">
										<div class="experience__container d-flex justify-content-between">
											<div class="experience__project d-flex">
												<div class="experience__txt">
													<p class="experience__creator">Разработчик проекта</p>
													<p class="experience__place">Тенерифы, Испания</p>
												</div>
												<p class="experience__line">&#8212;</p>
												<p class="experience__name">VYM Canarias</p>
											</div>
											<div class="experience__time">
												<p class="experience__year">2 года 7 месяцев</p>
												<p class="experience__month">Май 2003 – Декабрь 2005</p>
												<a href="#" class="experience__more ml-auto">Подробнее</a>
											</div>
										</div>
										<div class="experience__container gray-top d-flex justify-content-between">
											<div class="experience__project d-flex">
												<div class="experience__txt">
													<p class="experience__creator">Разработчик проекта</p>
													<p class="experience__place">Тенерифы, Испания</p>
												</div>
												<p class="experience__line">&#8212;</p>
												<p class="experience__name">VYM Canarias</p>
											</div>
											<div class="experience__time">
												<p class="experience__year">2 года 7 месяцев</p>
												<p class="experience__month">Май 2003 – Декабрь 2005</p>
												<a href="#" class="experience__more ml-auto">Подробнее</a>
											</div>
										</div>
										<div class="experience__container gray-top d-flex justify-content-between">
											<div class="experience__project d-flex">
												<div class="experience__txt">
													<p class="experience__creator">Разработчик проекта</p>
													<p class="experience__place">Тенерифы, Испания</p>
												</div>
												<p class="experience__line">&#8212;</p>
												<p class="experience__name">VYM Canarias</p>
											</div>
											<div class="experience__time">
												<p class="experience__year">2 года 7 месяцев</p>
												<p class="experience__month">Май 2003 – Декабрь 2005</p>
												<a href="#" class="experience__more ml-auto">Подробнее</a>
											</div>
										</div>
									</div>
									<div class="cnt">
										<div class="experience__container d-flex justify-content-between">
											<div class="experience__project d-flex">
												<div class="experience__txt">
													<p class="experience__creator">Разработчик проекта</p>
													<p class="experience__place">Тенерифы, Испания</p>
												</div>
												<p class="experience__line">&#8212;</p>
												<p class="experience__name">VYM Canarias</p>
											</div>
											<div class="experience__time">
												<p class="experience__year">2 года 7 месяцев</p>
												<p class="experience__month">Май 2003 – Декабрь 2005</p>
												<a href="#" class="experience__more ml-auto">Подробнее</a>
											</div>
										</div>
										<div class="experience__container gray-top d-flex justify-content-between">
											<div class="experience__project d-flex">
												<div class="experience__txt">
													<p class="experience__creator">Разработчик проекта</p>
													<p class="experience__place">Тенерифы, Испания</p>
												</div>
												<p class="experience__line">&#8212;</p>
												<p class="experience__name">VYM Canarias</p>
											</div>
											<div class="experience__time">
												<p class="experience__year">2 года 7 месяцев</p>
												<p class="experience__month">Май 2003 – Декабрь 2005</p>
												<a href="#" class="experience__more ml-auto">Подробнее</a>
											</div>
										</div>
										<div class="experience__container gray-top d-flex justify-content-between">
											<div class="experience__project d-flex">
												<div class="experience__txt">
													<p class="experience__creator">Разработчик проекта</p>
													<p class="experience__place">Тенерифы, Испания</p>
												</div>
												<p class="experience__line">&#8212;</p>
												<p class="experience__name">VYM Canarias</p>
											</div>
											<div class="experience__time">
												<p class="experience__year">2 года 7 месяцев</p>
												<p class="experience__month">Май 2003 – Декабрь 2005</p>
												<a href="#" class="experience__more ml-auto">Подробнее</a>
											</div>
										</div>
									</div>
								</div>
								<div class="experience__link">
									<a href="#" class="experience__more">Показать больше</a>
								</div>
							</div>
							<div id="education" class="education box">
								<h2 class="title gray-btm">Образование</h2>
								<div class="education__wrap d-flex">

									<ul class="education__training">
										<li class="education__item">
											<p class="education__school">высшее</p>
											<p class="education__form">очная форма</p>
											<p class="education__year">2005 – 2010<span class="education__name">Universidad de La Laguna</span></p>
											<p class="education__skills">Escuela técnica superior de ingeniería informática,Coder</p>
										</li>
										<li class="education__item">
											<p class="education__school">среднее-специальное</p>
											<p class="education__form">очная форма</p>
											<p class="education__year">2003 – 2005<span class="education__name">Universidad de La Laguna</span></p>
											<p class="education__skills">Escuela técnica superior de ingeniería informática,Coder</p>
										</li>
										<li class="education__item">
											<p class="education__school">среднее</p>
											<p class="education__form">очная форма</p>
											<p class="education__year">1994 – 2003<span class="education__name">Школа №2</span></p>
										</li>
									</ul>
								</div>
							</div>
							<div id="skill" class="skill box">
								<h2 class="skill__title title gray-btm">Навыки</h2>
								<div class="skill__container">
									<div class="skill__work gray-btm d-flex align-items-center ">
										<a href="#">С++</a>
										<div class="skill__confirm d-sm-flex align-items-center">
											<p class="skill__txt">подтвердило</p>
											<p class="skill__namber">8</p>
											<p class="skill__txt">пользователей</p>
										</div>
									</div>
									<div class="skill__work gray-btm d-flex align-items-center ">
										<a href="#">PHP</a>
										<div class="skill__confirm d-sm-flex align-items-center">
											<p class="skill__txt">подтвердило</p>
											<p class="skill__namber">3</p>
											<p class="skill__txt">пользователей</p>
										</div>
									</div>
									<div class="skill__work gray-btm d-flex align-items-center ">
										<a href="#">Microsoft Ofice</a>
										<div class="skill__confirm d-sm-flex align-items-center">
											<p class="skill__txt">подтвердило</p>
											<p class="skill__namber">0</p>
											<p class="skill__txt">пользователей</p>
										</div>
									</div>
									<div class="skill__work gray-btm d-flex align-items-center ">
										<a href="#">Разработка сайтов</a>
										<div class="skill__confirm d-sm-flex align-items-center">
											<p class="skill__txt">подтвердило</p>
											<p class="skill__namber">2</p>
											<p class="skill__txt">пользователей</p>
										</div>
									</div>
								</div>
								<div class="skill__button">
									<a href="#" class ="experience__more">Показать больше</a>
								</div>				
							</div>
						</div>
					</div>
				</div>
				<div class="sidebar__right">
					<div class="sidebar__map">
						<script charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Abd13103267e406d9b5c85d5cd01953c875a38d9e9d73737321a94781144be1bc&amp;width=100%&amp;height=100%&amp;lang=ru_RU&amp;scroll=true"></script>
					</div>
					<div class="communications box">
						<div class="communications__wrap gray-btm d-flex">
							<h2 class="communications__title">Связи</h2>
							<p class="communications__number">10</p>
						</div>
						<ul class="communications__list">
							<li class="communications__item">
								<p class="communications__name">Имя Фамилия</p>
								<p class="communications__adres">30 лет Россия, Тула</p>
								<p class="communications__profession">coder</p>
							</li>
							<li class="communications__item">
								<p class="communications__name">Имя Фамилия</p>
								<p class="communications__adres">30 лет Россия, Тула</p>
								<p class="communications__profession">coder</p>
							</li>
							<li class="communications__item">
								<p class="communications__name">Имя Фамилия</p>
								<p class="communications__adres">30 лет Россия, Тула</p>
								<p class="communications__profession">coder</p>
							</li>
						</ul>
					</div>
					<div class="communications box">
						<div class="communications__wrap gray-btm d-flex">
							<h2 class="communications__title">Рекомендуют</h2>
							<p class="communications__number">5</p>
						</div>
						<ul class="communications__list">
							<li class="communications__item">
								<p class="communications__name">Имя Фамилия</p>
								<p class="communications__adres">30 лет Россия, Тула</p>
								<p class="communications__profession">coder</p>
							</li>
							<li class="communications__item">
								<p class="communications__name">Имя Фамилия</p>
								<p class="communications__adres">30 лет Россия, Тула</p>
								<p class="communications__profession">coder</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer class="footer">
		<div class="footer__bottom footer__bottom_top line">
			<div class="container">
				<div class="row">
					<div class="col footer__company">
						<a href="#">О нас</a>
					</div>
					<p class="col footer__svyazi">
						SVYAZI @ 2018
					</p>
					<div class="col footer__language">
						<a href="#">Язык</a>
					</div>
				</div>
			</div>
		</div>
	</footer>

	<script src="js/jquery-3.3.1.min.js"></script>
	<script src="js/slick.min.js"></script>
	<script src="js/sticky-kit.min.js"></script>
	<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.js"></script>
	<script src="js/main.js"></script>
</body>
</html>