<div id="editProfilePanel" class="aside-panel">
    <form id="editProfilePanel" action="/editprofile" method="post">
        <button class="btn-close-panel" @click="closepanel">X</button>
        <button type="submit">Save</button>
        <div>
            <label for="mainProf">Профессия:</label>
            <input type="text" name="mainProf" v-model="myProfile.mainProf">
        </div>
    </form>
</div>

