
<footer class="footer">
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css">
    
    /-->
    <script src="/css/fontawesome-all.min.js">
    <div class="footer__bottom line">
        <div class="container">
            <div class="row">
                <div class="col footer__company">
                    <a href="#">О нас</a>
                </div>
                <p class="col footer__svyazi">
                    SVYAZI @ 2018
                </p>
                <div class="col footer__language">
                    <a href="#">Язык</a>
                </div>
            </div>
        </div>
    </div>
</footer>