<div class="header-cab__bottom">
				<div class="container">
					<div class="row">
						<div class="header-cab__logo col-12 col-sm-auto d-flex align-items-center justify-content-center justify-content-md-start">
							<img src="img/logo_svyazi.png" alt="SVYAZI">
						</div>
						<div class="header-cab__user col-auto">
							<p class="header-cab__profession">{{myProfile.mainProf}}</p>
							<h1 class="header-cab__nickname">
								<span class="header-cab__nickname-name"><%= user.name %></span>
								<span class="header-cab__nickname-surname"><%= user.surname %></span>
							</h1>
							<p class="header-cab__info"><span><%= user.age %> лет</span> Россия, Тула</p>
						</div>	
						<div class="header-cab__experience d-flex flex-column justify-content-end col-auto ml-auto">
							<img class="header-cab__stars" src="img/stars.png" alt="Звезды"/>
							<div class="header-cab__wrap d-flex justify-content-center">
								<div class="header-cab__connection d-flex">
									<img src="img/connection.png" alt="Комуникация"/>
									<p>10</p>
								</div>
								<div class="header-cab__up d-flex">
									<img src="img/Thumbs_up.png" alt="Палец вверх"/>
									<p>5</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>