<head>
  <link rel="manifest" href="/manifest.json">

  <link rel="icon" href="/img/touch/64.png" type="image/png" sizes="64x6x">
	<meta charset="UTF-8">
  <title>SVYAZI</title>
  
	<meta name="description" content="Описание страницы">
	<meta name="keywords" content="Ключевые, слова, через, запятую">
	<link rel="icon" href="#" type="#">
	<link rel="shortcut icon" href="#" type="#">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta property="og:title" content="SVYAZI">
	<meta property="og:description" content="Описание страницы">
	<meta property="og:type" content="article">
	<meta property="og:image" content="#">
  <meta property="og:site_name" content="SVYAZI">
  

  <link rel="stylesheet" href="/css/animate.min.css">
  <link rel="stylesheet" href="css/fonts.css">

	<link rel="stylesheet" href="css/bootstrap-reboot.min.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/media.css">
	<link rel="stylesheet" href="css/panels.css">
	<% if (isLoginForm) { %>
	<link rel="stylesheet" href="css/adds-main-header.css">
	<% } %>
  
  <script src="/js/vue.js"></script>
</head>
