<header class="header-cab">
		<div class="header-cab__line">
			<div class="header-cab__top line">
				<div class="container">
					<div class="row justify-content-between">
						<div class="header-cab__entry d-flex align-items-center col-auto">
							<img src="img/user.png" alt="Фото">
							<p class="header-cab__name"><%= user.name %></p>
							<p class="header-cab__surname"><% user.surname %></p>
							<a href="/logout" class="header-cab__open">
								<img src="img/arow_down.png" alt="Cтрелка"/>
							</a>
						</div>
						<div class="header-cab__menu col-auto">
							<nav>
								<ul class="header-cab__list d-flex">
									<li class="header-cab__item">
										<img src="img/searching.png" alt="Поиск"/>
										<a href="#">Поиск</a>
									</li>
									<li class="header-cab__item">
										<img src="img/speaking.png" alt="Связи"/>
										<a href="#">Связи</a>
									</li>
									<li class="header-cab__item">
										<img src="img/chat.png" alt="Сообщения"/>
										<a href="#">Сообщения</a>
									</li>
									<li class="header-cab__item">
										<img src="img/bell.png" alt="Уведомления"/>
										<a href="#">Уведомления</a>
									</li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
            </div>
            
            <% if(isHeaderBottom) {%>
            <%- include('hbottom') %>
            <% }%>

		</div>
	</header>

	<script src="/js/socket.io.js"></script>
	<script>
	var myId = <%= user._id %>;
	  var socket = io.connect('http://localhost:3000');
	  socket.on(myId, function (data) {
		console.log(data);
	  });
	</script>