<!DOCTYPE html>
<html lang="ru">
<%- include("./head.ejs") %>
<link rel="stylesheet" type="text/css" href="/css/login.css">
<body>

<div id="app">
	<header class="header">
		<div class="header__top line">
			<div class="container animated slideInDown">
				<div class="row d-flex align-items-center justify-content-between">
					<div class="header__logo">
						<a href="index.html">
							<img  src="img/logo_svyazi_ikonka.png" alt="SVYAZI"/>
						</a>
					</div>
					<div class="col-md-auto">
						<div class="header__form">
							<form action="/login" method="post">
								<input type="email" name="email" placeholder="Электронная почта" class="header__input header__input_email">
								<input type="password"  name="pass" placeholder="Пароль" class="header__input header__input_password">
								<div class="header__btn">
									<input type="submit" class="header__come" value="Войти">
									<span class="header__link">
										<img v-on:click="reg" src="img/arow.png" alt="Cтрелка"/>
                                    </span>
                                    <span v-if="socialToggle">
                                        <div class="social ml-auto animated flipInX">
                                            <p>Войти через:</p>
                                            <div class="header__social social__wrap d-flex">
                                                <a href="/auth/vk" class="social__vk"><i class="fab fa-vk"></i></a>
                                                <a href="/auth/facebook" class="social__fc"><i class="fab fa-facebook-f"></i></a>
                                                <!-- <a href="#" class="social__in"><i class="fab fa-linkedin-in"></i></a> /-->
                                            </div>
                                        </div>
                                    </span>
										
								</div>
								<a href="cabinet.html" class="header__forgot mr-auto">Забыли пароль?</a>
							</form>	
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<% if (error.is) { %>
		<%= error.text %>
	<%}%>
	<section class="registry">
		<div class="container">
			<div class="row">
				<div class="registry__card d-md-flex">
					<div class="registry__left">
						<img class="registry__logo" src="img/logo_svyazi.png" alt="SVYAZI"/>
						<div class="registry__box">
							<form action="/signup" method="post" class="registry__form d-flex flex-column">
								<p class="registry__short-title">
								    Первый раз в деловой сети SVYAZI?
								    Зарегистрируйтесь!
								</p>
								<input type="text" name="name" placeholder="Имя" class="registry__input" >
								<input type="text" name="surname" placeholder="Фамилия" class="registry__input">
								<input type="email" name="email" placeholder="Электронная почта" class="registry__input">
								<input type="hidden" name="latitude" id="inp-latitude" value="31">
								<input type="hidden" name="longitude" id="inp-longitude" value="52">
								<input type="password"  name="pass" ref="pass1" placeholder="Пароль" class="registry__input">
								<input type="password"  name="pass2" ref="pass2" placeholder="Подтверждение пароля" class="registry__input">
								<button class="registry__btn" data-submit>Зарегистрироваться</button>
								<p>или</p>
								<p class="registrry__txt">Зарегистрироваться через:</p>
								<div class="registry__social social__wrap d-flex">
									<a href="/auth/vk" class="social__vk"><i class="fab fa-vk"></i></a>
									<a href="/auth/facebook" class="social__fc"><i class="fab fa-facebook-f"></i></a>
									<!-- <a href="#" class="social__in"><i class="fab fa-linkedin-in"></i></a> /-->
								</div>
								<p class="registry__text">
									Регистрируясь, Вы принимаете <a>условия использования и 
									политику использования данных</a> SVYAZI.
								</p>
							</form>
						</div>
					</div>
					<div class="registry__right">
						<h1 class="registry__title">Заведи нужные связи!</h1>
						<p class="registry__info">
							Здесь Вы найдете все, что нужно для поиска и налаживания деловых связей:
						</p>
						<ul class="registry__list">
							<li class="registry__item">
								<p class="registry__section">
									Простота и удобство использования
								</p>
								<p class="registry__subcat">
									Мультиплатформленность и user-friendly interface.
								</p>
							</li>
							<li class="registry__item">
								<p class="registry__section">
									Расширенный поиск с геолокацией
								</p>
								<p class="registry__subcat">
									Большое количество фильтров для поиска нужных специалистов с геопозицией.
								</p>
							</li>
							<li class="registry__item">
								<p class="registry__section">
									Налаживание новых деловых связей
								</p>
								<p class="registry__subcat">
									Возможность быстро сформировать свою сеть "полезных" знакомств в новом месте.
								</p>
							</li>
							<li class="registry__item">
								<p class="registry__section">
									Прямой контакт с нужным специалистом
								</p>
								<p class="registry__subcat">
									Общение пользователей <span>person-to-person</span>, без посредников, что улучшает взаимодействие.
								</p>
							</li>
							<li class="registry__item">
								<p class="registry__section">
									Создание и поддержка личной деловой базы
								</p>
								<p class="registry__subcat">
									Помогает наладить и поддерживать деловые связи между сотрудниками внутри одной компании, так и в не ее.
								</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="scan">
		<div class="container">
			<div class="row">
				<div class="scan__box">
					<h2 class="scan__title">
						Начни поиск нужных связей прямо сейчас:
					</h2>
					<form action="#" class="scan__form">
						<button class="scan__btn" type="submit">
							<i class="fas fa-search"></i>
						</button>
						<input type="search" name="Поиск" placeholder="Поиск" class="scan__input" target="_blank">
					</form>
				</div>
			</div>
		</div>
	</section>


    </div>
    </body>
	<script>

	function onStart() {
		console.log("Geolocation..")
		if (navigator.geolocation) {
			navigator.geolocation.getCurrentPosition(function(position){
				var lat = position.coords.latitude;
				var long = position.coords.longitude;
				
				document.getElementById("inp-latitude").value = lat;
				document.getElementById("inp-longitude").value = long;

				console.log(lat, long)
				
			});
		} else {
			console.log("Geolocation is not supported by this browser.");
		}
	}

	
    var vm = new Vue({
        el: "#app",
        data: {
            socialToggle: false,
            regd: {
                passError: false
            }
        },
		created: function (){
			onStart()
		},
        methods: {
            reg: function() {
                if(this.socialToggle) {
                    this.socialToggle = false
                } else {
                    this.socialToggle = true
                }
            },
            regSubmit: function() {
                var p1 = this.$refs.pass1.value;
                var p2 = this.$refs.pass2.value;
                if (p1 != p2) {
                    this.regd.passError = true;
                    return;
                }
                alert("Регистрация успешна")
            }
		}
    })
</script>

<%- include('./footer') %>
</html>