<!DOCTYPE html>
<%- include("./head.ejs") %>


<html>
    <body>
        <% if (!user) { %>
            <%- include('./login.ejs') %>
        <% } %>
    <div id="demo">
        234
    </div>
    </body>

</html>
<script>

function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
    } else {
        x.innerHTML = "Geolocation is not supported by this browser.";
    }
}
function showPosition(position) {
    console.log( "Latitude: " + position.coords.latitude + 
    "<br>Longitude: " + position.coords.longitude); 
}

getLocation()
</script>