<link rel="stylesheet" type="text/css" href="/css/login.css">
<div id="app">
    <button @click="reg">Регистрация</button>

    <h2>{{welcome}}</h2>
    <div v-if="!register" class="login-form animated bounceInLeft">
        <form action="/login" method="post">
            <input type="email" name="email">
            <input type="password" name="pass">
            <button type="submit">Войти</button>
            <hr>
            <a href="/auth/vk">VK</a>
            <a href="/auth/facebook">Facebook</a>
        </form>
    </div>

    <div v-if="register" class="register-form animated bounceInRight">
        <!-- <form @submit.prevent="regSubmit"> /-->
        <form action="/signup" method="post">
        <input type="text" name="name1" placeholder="Имя">
        <input type="text" name="name2" placeholder="Фамилия">
        <input type="email" name="email" placeholder="Email">
        <input type="password" name="pass" ref="pass1" placeholder="Пароль">
        <input type="password" name="pass2" ref="pass2" placeholder="Подтвержения пароля">
        <span v-if="regd.passError">Пароли не совпадают</span>
        <button type="submit">Зарегистрироваться</button>
        <hr>
        <a href="/auth/vk">VK</a>
        <a href="/auth/facebook">Facebook</a>
        </form>
    </div>
</div>

<script>
    vm = new Vue({
        el: "#app",
        data: {
            welcome: "Welcome! Please log in.",
            register: false,
            regd: {
                passError: false
            }
        },
        methods: {
            reg: function() {
                if(this.register) {
                    this.register = false
                } else {
                    this.register = true
                }
            },
            regSubmit: function() {
                var p1 = this.$refs.pass1.value;
                var p2 = this.$refs.pass2.value;
                if (p1 != p2) {
                    this.regd.passError = true;
                    return;
                }
                alert("Регистрация успешна")
            }
        }
    })
</script>