<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title><%= user.displayName %></title>
	<meta name="description" content="Описание страницы">
	<meta name="keywords" content="Ключевые, слова, через, запятую">
	<link rel="icon" href="#" type="#">
	<link rel="shortcut icon" href="#" type="#">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta property="og:title" content="<%= user.displayName %>">
	<meta property="og:description" content="Описание страницы">
	<meta property="og:type" content="article">
	<meta property="og:image" content="#">
	<meta property="og:site_name" content="SVYAZI">
	
	<link rel="stylesheet" href="css/fonts.css">
	<link rel="stylesheet" href="css/bootstrap-reboot.min.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/slick.css"/>
  	<link rel="stylesheet" href="css/slick-theme.css"/>
	<link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/media.css">
    <link rel="stylesheet" href="css/addinfo.css">
    <link rel="stylesheet" href="css/jmain.css">
    <link rel="stylesheet" href="css/testaddinfo.css">
	<script src="/js/vue.js"></script>
	<script src="/js/sweetalert.min.js"></script>
</head>
<body>
	<header class="header-cab">
		<div class="header-cab__line">
			<div class="header-cab__top line">
				<div class="container">
					<div class="row justify-content-between">
						<div class="header-cab__entry d-flex align-items-center col-auto">
                            <img src="img/user.png" alt="Фото">
                            <div class="header-user-name">
                                <p class="label" class="header-cab__name"><%= user.name %></p>
                                <p class="label" class="header-cab__surname"><% user.surname %></p>
                            </div>
							
							<a href="/logout" class="header-cab__open">
								<img src="img/arow_down.png" alt="Cтрелка"/>
							</a>
						</div>
						<div class="header-cab__menu col-auto">
							<nav>
								<ul class="header-cab__list d-flex">
									<li class="header-cab__item">
										<img src="img/searching.png" alt="Поиск"/>
										<a href="#">Поиск</a>
									</li>
									<li class="header-cab__item">
										<img src="img/speaking.png" alt="Связи"/>
										<a href="#">Связи</a>
									</li>
									<li class="header-cab__item">
										<img src="img/chat.png" alt="Сообщения"/>
										<a href="#">Сообщения</a>
									</li>
									<li class="header-cab__item">
										<img src="img/bell.png" alt="Уведомления"/>
										<a href="#">Уведомления</a>
									</li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</div>
    </header>
    <section id="app" class="userslist">
        <div class="container">
            <div class="row">
                <% for(var i=0; i< users.length; i++) {%>
                    <div data-userId="<%= users[i]._id %>" class="user-li" >
                    <h5><%= users[i].displayName %></h5>
                    <button>Написать сообщение</button>
                    <div class="send-form">
                    <textarea></textarea>
                    <button @click="sendm" >Отправить</button>
                    </div>
                    <button>Добавить в друзья</button>
                    </div>
                <% } %>
            </div>
        </div>
    </section>
	<script src="/js/socket.io.js"></script>
	<script src="/js/axios.min.js"></script>
<script>
  var socket = io.connect('http://localhost:3000');
  socket.on('<%= user._id %>', function (data) {
    console.log(data);
  });
</script>
<script src="/js/socket.io.js"></script>


<script>

var socket = io.connect('http://localhost:3000');
socket.on('news', function (data) {
    console.log(data);
  });
socket.on('<%= myId %>', function (data) {
	console.log(data)
	swal({
  text: data.text,
  title: "Сообщение от " + data.displayNameFrom
});
  });
  var vm = new Vue({
      el: "#app",
      methods: {
          sendm: function(e){
			var data = {
				displayNameFrom : '<%= user.displayName %>',
				displayNameTo : e.target.parentElement.parentElement.getElementsByTagName('h5')[0].innerHTML,
				text : e.target.parentElement.getElementsByTagName('textarea')[0].value,
				toId : e.target.parentElement.parentElement.getAttribute('data-userId')
			}
			console.log(data.toId)
			socket.emit('message', data);
			axios.post('/chat', data)
			  .then(function (response) {
				console.log(response);
			  })
			  .catch(function (error) {
				console.log(error);
			  });
		  }

      }
  })
</script>

    <%- include('./footer.ejs') %>

</body>
</html> 