.aside-panel {
  position: fixed;
  top: 0;
  right: 0;
  width: 500px;
  height: 100%;
  max-width: 100%;
  background: #fff;
  z-index: 5000;
  padding: 20px; }
  .aside-panel label {
    font-weight: 600; }
    .aside-panel label ::after {
      content: ":"; }

/*# sourceMappingURL=panels.css.map */
