

a {
	color: White;
	text-decoration: none;
	outline: none;

}

ul li {
	display: inline-block;
	list-style: none;
	text-align: center;

}
.menu {
	height: 3.7em;
	background-color: #00a0e3;
	border-radius: 5px 5px 5px;
}
.logo {
	width: 50px;
	margin-left: 250px;
	float: left;
}
.list_menu > a > img {
	width: 20px;
	position: absolute;
	top: 8px;
	margin-left: 12px;

}

.list_menu {
	float: right;
	margin-top: 28px;
	font-size: 1em;
	margin-right: 17%;
	margin-left: -17%;
	padding-right: 3%;
}

.form {
	background-color: White;

	height: 75%;
	text-align: center;
	margin: 0 auto;
	margin-top: 4%;
	border-radius: 6px 6px 6px;
}
.form > img {
	width: 30%;
	margin-top: 8px;
	padding-bottom: 10px;
}



.corporation {
	margin-top: 5%;
	height: 30px;
	background-color: #5a9fe0;
	color: White;
}

.corporation > ul > li  {
	padding-left: 20%;
	margin-top: 5px;

}




select {
	height: 30px;
	color: #58749d;
	border-radius: 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px;
	-p-border-radius: 4px 4px 4px;
	-ms-border-radius: 4px 4px 4px;
}

input {
	outline: none;
}

.p_up {
	float: left;
	margin-left: 10%;
	margin-bottom: 6px;
	color: #70aae3;
}

.years > li {
	display: block;
	margin-top: 3%;
	margin-left: -48%;
}

.years > li > span {
	padding-left: 11%;
	color: #70aae3;
}

.years > li > span > select {
	color: #70aae3;
	border-radius: 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px;
	-o-border-radius: 4px 4px 4px;
	-ms-border-radius: 4px 4px 4px;
	width: 170px;
	float: left;
}



.main_information > p {

	
}
.main_information > input {
	margin-right: 1%;

}

@media (max-width: 1100px) {
  .form {
  	width: 75%;
  }

  

}


@media (max-width: 1000px) {
  .form {
  	width: 100%;
  }
  .form > li > h2 > span {
	margin-bottom: 10%;
  }
  .button_add {
  	width: 100px;
  	font-size: 0.95em;
  	padding-bottom: 8px;
  	margin-bottom: 9%;
  }

  body {
  	font-size: 1.1em;
  }

  .corporation {
  	font-size: 0.6em;
  	padding-top: 5px;
  }
	
	.menu {
		position: relative;
	}

  textarea {
  	width: 90%;
  }

  .logo {
  	float: left;
  	position: absolute;
  	top: -5%;
  	left: -350px;
}

.menu > ul > li > a > img {
	width: 7%;
	padding-left: 29%;
	padding-top: 2%;
}


}


